/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
 

/* Reusable column setup */

.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}



    /* 1. 3 Column Grid 0px - 319px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    32.0%
    Span 2:    66.0%
    Span 3:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 0px) and (max-width: 319px) {
        
        .col {
            margin-left:2%;
        	padding:0 1.5%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        */
        
        .span_1 {
            width:32.0%;
        }
        .span_2 {
            width:66.0%;
        }
        .span_3 {
            margin-left:0;
            width:100%;
        }
    }

    /* 2. 9 Column Grid 320px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    9.33333333333%
    Span 2:    20.6666666667%
    Span 3:    32.0%
    Span 4:    43.3333333333%
    Span 5:    54.6666666667%
    Span 6:    66.0%
    Span 7:    77.3333333333%
    Span 8:    88.6666666667%
    Span 9:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 320px) {
        
        .col {
            margin-left:2%;
        	padding:0 1.5%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:9.33333333333%;
        }
        .span_2 {
            width:20.6666666667%;
        }
        .span_3 {
            width:32.0%;
        }
        .span_4 {
            width:43.3333333333%;
        }
        .span_5 {
            width:54.6666666667%;
        }
        .span_6 {
            width:66.0%;
        }
        .span_7 {
            width:77.3333333333%;
        }
        .span_8 {
            width:88.6666666667%;
        }
        .span_9 {
            margin-left:0;
            width:100%;
        }
    }

body {
  background-color: white;
  color: #666666; }

#innerMainContent {
  max-width: 960px;
  margin: 0 auto; }

body {
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 1em; }
/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
