%h1.pageTitle
  =link_to 'http://google.com', 'The Quick Brown Fox Jumped Over the Lazy Dogs'

%p Yeah, I like animals better than people sometimes... Especially dogs. Dogs are the best. Every time you come home, they act like they haven't seen you in a year. And the good thing about dogs... is they got different dogs for different people. Like pit bulls. The dog of dogs. Pit bull can be the right man's best friend... or the wrong man's worst enemy. You going to give me a dog for a pet, give me a pit bull. Give me... Raoul. Right, Omar? Give me Raoul.

%h2 Oh... what I'm gon' do?

%p Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.

%h3 I took lessons

%p Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.

%h3 We happy?

%p Yeah, I like animals better than people sometimes... Especially dogs. Dogs are the best. Every time you come home, they act like they haven't seen you in a year. And the good thing about dogs... is they got different dogs for different people. Like pit bulls. The dog of dogs. Pit bull can be the right man's best friend... or the wrong man's worst enemy. You going to give me a dog for a pet, give me a pit bull. Give me... Raoul. Right, Omar? Give me Raoul.

.legal
  %p
    Cash means cash advances, balance transfers and Convenience Cheques. These current annual interest rates may change from time to time after prior notice to cardholders.

  %p
    Petro-Canada is a Suncor Energy business. TM3 Trademark of Suncor Energy Inc. Used under licence.

  %p
    ® Aerogold and Aeroplan are Registered Trademarks of Aimia Canada Inc.; CIBC authorized licensee of marks. ®1 Reg. TM of CIBC. ™ Visa Int./lic. User. ®2/TM1 MasterCard is a registered trademark and World MasterCard is a trademark of MasterCard International Incorporated. TM2 Trademark of CIBC.
    
=content_for :rightrail do

  %h3 right rail
  
  %p There are two syntaxes available for Sass. The first, known as SCSS (Sassy CSS) and used throughout this reference, is an extension of the syntax of CSS3. This means that every valid CSS3 stylesheet is a valid SCSS file with the same meaning. In addition, SCSS understands most CSS hacks and vendor-specific syntax, such as IE’s old filter syntax. This syntax is enhanced with the Sass features described below. Files using this syntax have the .scss extension.

  %p The second and older syntax, known as the indented syntax (or sometimes just “Sass”), provides a more concise way of writing CSS. It uses indentation rather than brackets to indicate nesting of selectors, and newlines rather than semicolons to separate properties. Some people find this to be easier to read and quicker to write than SCSS. The indented syntax has all the same features, although some of them have slightly different syntax; this is described in the indented syntax reference. Files using this syntax have the .sass extension.

  %p Either syntax can import files written in the other. Files can be automatically converted from one syntax to the other using the sass-convert command line tool:    
  
  .legal
    %p
      Cash means cash advances, balance transfers and Convenience Cheques. These current annual interest rates may change from time to time after prior notice to cardholders.

    %p
      Petro-Canada is a Suncor Energy business. TM3 Trademark of Suncor Energy Inc. Used under licence.

    %p
      ® Aerogold and Aeroplan are Registered Trademarks of Aimia Canada Inc.; CIBC authorized licensee of marks. ®1 Reg. TM of CIBC. ™ Visa Int./lic. User. ®2/TM1 MasterCard is a registered trademark and World MasterCard is a trademark of MasterCard International Incorporated. TM2 Trademark of CIBC.  