@import 'gridpak', 'margins_and_padding', 'colors', 'mixins'

$maxwidth: 960px

body
  background:
    color: $background-color
    
#mainBody
  max-width: $maxwidth
  margin: 0 auto
  position: relative
  
  #innerMainContent
    :position absolute

   